##  Built in functions

In [2]:

'''
1.type
2. max
3. min
4. conversion functions : int, float, str
5. random'''
print(max('Hello world'))
print(min('helloworld'))

import random

for i in range(10):
    x = random.random()
    print(x)

w
d
0.3581055594425512
0.27550036923780497
0.627070472746718
0.7926963904924993
0.06074933506586255
0.13196282312033525
0.2828743589285079
0.961583745914852
0.8406754867370745
0.40623665317666013
Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [ ]:
#6. randint
for i in range(10):
    print(random.randint(5, 100))

t = [10, 22, 453]
random.choice(t)

In [ ]:
#7. Math functions - pi, sin, sqrt, 
import math
signal_power=5.6
noise_power=3.1
ratio = signal_power / noise_power

decibels = 10 * math.log10(ratio)

radians = 0.7
    
height = math.sin(radians)
degrees = 45
radians = degrees / 360.0 * 2 * math.pi
math.sin(radians)
math.sqrt(2) / 2.0

x = math.cos(radians)
golden = (math.sqrt(5) + 1) / 2

In [ ]:
help(random.random)

##  User Defined functions

In [3]:
# defining void funtions
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

def func2(func1):
    print("hello")

In [2]:
print(type(print_lyrics))

#calling the function:
func2(print_lyrics())

<class 'function'>
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [ ]:
#Functions with arguments

In [8]:
def print_twice(a):
    print(a)
    print(a)

In [9]:
print_twice('Spam')

Spam
Spam

In [10]:
print_twice('Spam '*4)

Spam Spam Spam Spam
Spam Spam Spam Spam

In [1]:
def add2nos(a,b):
    c = a+b
    return c

print(add2nos(45,34))

79

In [2]:
#Writing userdefined functions with arguments and returning values.
#Define a function to accept a number. if the number is negative then return 0 else return the number
def replace_negative(val):
    if val<0:
        out = 0
    else:
        out = val
    return out,val

In [4]:
#fib series: 0,1,1,2,3,5,8,13

def fib(n):
    fir = 0
    sec = 1
    thi = fir + sec
    print(fir, ' ', sec, end=" ")
    while(thi <= n):
        print(thi,end=" ")
        fir,sec = sec, thi
        thi = fir + sec
    
fib(12320)

0   1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [3]:
# testing the above function
a,b=replace_negative(-5)
print(replace_negative(-19))
print(replace_negative(100))

(0, -19)
(100, 100)

In [8]:
#n! = n*(n-1)*(n-2).....1
#5!= 5*4*3*2*1 = 120

def fact(n):
    prod = 1
    
    while n > 0:
        prod = prod * n
        n = n -1
    return prod
fact(6)

720

In [11]:
# funciton for fibanocci series

def gen_fib(f):
    x=0
    y=1
    print(x,"",y, end=" ")
    z=x+y
    while y < f:        
        print(z,end=" ")
        x,y=y,z
        z=x+y

        
fib=int(input())
if(fib>1):
    gen_fib(fib)

8
0  1 1 2 3 5 8

In [6]:
numList = [-5,2,-3,-100,75,90,80]
for i in range(0,len(numList)):
    numList[i]=replace_negative(numList[i])
print(numList)

[0, 2, 0, 0, 75, 90, 80]

In [7]:
[replace_negative(i) for i in numList]

[0, 2, 0, 0, 75, 90, 80]

In [18]:
#Factorial of a number using default arguments
def factorial(num=5):
    count = 1
    fact=1
    while count <=num:
        fact = count*fact
        count = count+1
    return(fact)
print(factorial())
factorial(7)

120

5040

enter your number to find factoral:6
Factorial of number 6 is 6

In [20]:
def is_prime(number):
    count = 2
    isPrime = True #The number is assumed to be prime
    if(number > 1):
        half=number//2

        for count in range(2,half+1):
            if number % count == 0:
                isPrime = False #the number is not prime
                break
    else:
        isPrime = False

    return isPrime

In [ ]:
if (isPrime(3)) : print("number is prime") 
else : print("number is not prime")

In [21]:
num=30
def print_Prime(num):
    for i in range(num):
        if(is_prime(i)):
            print(i,end=" ")
print_Prime(num)

2 3 5 7 11 13 17 19 23 29

In [23]:
start = int(input("enter the starting range"))
end   = int(input("enter the ending range"))

for i in range(start,end+1):
    if(is_prime(i)):
        print(i,end=" ")

enter the starting range3
enter the ending range5
3 5

In [26]:
l1=[5,6,4,89,34,56,23,21]
l2=[i for i in l1 if(is_prime(i))]
print(l2)

[5, 89, 23]

In [ ]:
num=int(input())
print_Prime(num)

In [ ]:
#Printing the next 5 prime numbers
number = int(input("enter a number : "))
numPrime = 1
while numPrime <= 5:
    number = number+1
    if(is_prime(number) == True):
        print(number)
        numPrime = numPrime+1

In [ ]:
#display all the prime numbers within a given range
start = int(input("enter a start number"))
end = int(input("enter a end number"))
for number in range(start, end+1):
    if(is_prime(number)==True):
        print(number)

In [ ]:
start = int(input("enter the starting range"))
end   = int(input("enter the ending range"))
[ number for number in range(start, end+1) if(is_prime(number)==True) ]

In [ ]:
#another way to interchange elements
a=10
b=20
print(id(a),"  ",id(b))
temp=a
a=b
b=temp
print(a,b)
print(id(a),"  ",id(b))

In [ ]:
#interchange elements; swapping the values
#The id is the object's memory address; some objects have predefined ids like integers -5 to 256
a='car'
b='bus'
print(a,b)
print(id(a),"  ",id(b))
(a,b) = (b,a)
print(a,b)
print(id(a),"  ",id(b))

In [8]:
#list and functions can be passed to other functions as functions to have a id just like a variable. 
# a variable has value whereas function has code

#Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. 

def square(no):
    return no*no
def listmap(l,fn):
    for ind,i in enumerate(l):
        l[ind] = fn(i)
        
l=list(range(10))
print(l)
listmap(l,square)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
string="Bangalore"
for i in range(len(string)):
    print(i,string[i])

In [ ]:
#Finding the min, max and the median of the elements
mylist  = [ 10,20,30,5,-3,1,33]
myList = SelectionSort(mylist)
minList = myList[0]
maxList = myList[len(myList)-1]
if len(myList)%2 !=0 :
    medianList = myList[(len(myList)//2)]
else:
    medianList = (myList[(len(myList)//2)] + myList[(len(myList)//2)-1])/2
print(myList)
print(minList)
print(maxList)
print(medianList)

In [ ]:
#sorting using selection sort algortithm
'''
1. From the first element to the end of the list repeat the following steps
   1a. First element is considered as minumim
   1b. Check the first element with the remaining elements
   1c. if you find any other element much lesser than the first element
   1d. reassign minimum to that element
2. interchange the first element with the minimum
'''
def SelectionSort(myList):
    #From the first element to the end of the list
    #repeat the following steps
    for i in range(0,len(myList)):
      #  First element is considered as minumim
        minimum = i
        #loop check the first elements with the remaining elements
        for j in range(i+1,len(myList)):
            #checking if other element is much lesser than the minimum
            if myList[j] < myList[minimum]:
                #reassigning minimum
                minimum = j
        #interchange the elements
        myList[i],myList[minimum] = myList[minimum], myList[i]            
    return(myList)

### Lambdas, map, filter and reduce
- We can use lambdas, map to replicate the functionality of list comprehension
A way to create small anonymous functions, i.e. functions without a name. 

These functions are throw-away functions, i.e. they are just needed where they have been created
~lambda arguments:expression~
lambda can accept 0 or more arguments but only one expression

Mainly used in combination with the functions filter(), map() and reduce()

Was added to Python due to the demand from Lisp programmers

Functions which are not defined explicitly with a name are lambda functions

In [27]:
#Define a lambda function:
sum = lambda x, y : x + y
print(type(sum))
#invoke a lambda function:
sum(3,4)

<class 'function'>

7

In [28]:
#write a lambda to find the square of a given number
sq = lambda x :x**2
print(sq(5))

25

In [10]:
squar = lambda x:x*x
print(squar(5))
i=4

25

In [ ]:
What is map()
l1=[10,23,35,78,98]
divide every ele by 2
def divby2(n):
    return n/2

list(map(divby2,l1))
[5,11.5,17.5]

map(func,seq) : apply the func on every element of the sequence

In [30]:
#map(function,sequence)-to apply some operations effectively on lists without loops and list comprehension
#f=9/5*C+32

def fahrenheit(T):
    f=round(((float(9)/5)*T + 32),2)
    return f

print(fahrenheit(34.5))

94.1

In [15]:
def fahrenheit(T):
    f=round(((float(9)/5)*T + 32),2)
    return f
 
temperatures = [36.5, 37, 37.5, 38, 39]

F = map(fahrenheit, temperatures)

print(list(F))

[97.7, 98.6, 99.5, 100.4, 102.2]

In [ ]:
1.write the above code using list comprehension
2. write the above code using lambda

In [8]:
temperatures = [36.5, 37, 37.5, 38, 39]
F=[ round(((float(9)/5)*temp + 32),2) for temp in temperatures]
print(F)

[97.7, 98.6, 99.5, 100.4, 102.2]

In [32]:
temperatures = [36.5, 37, 37.5, 38, 39]
F = map(lambda T: round(((float(9)/5)*T + 32),2), temperatures)
print(list(F))

[97.7, 98.6, 99.5, 100.4, 102.2]

In [19]:
#find the square of every list element using map and lambda
nums = [2, 4, 6, 8, 10]
result = map(lambda a: a ** 2, nums)
print(result)
print(list(result))

<map object at 0x052E9E08>
[4, 16, 36, 64, 100]

In [20]:
#find the square of every list element using list comprehension
[  a**2  for a in nums]

[4, 16, 36, 64, 100]

In [16]:
#extract only even numbers from a list using filter(function,sequence)
lst = [2,3,5,6,8,7,9,10]
result = filter(lambda i: i%2==0, lst)
print(list(result))

[2, 6, 8, 10]

In [12]:
#program using map/filer and lambda
#find the length of the element if the element starts with 'A' else display the first letter in caps
words=['Apple','Banana','Ant','Aeroplane','anger']

In [13]:
#solution

res=map(lambda x:len(x) if x.startswith('A') else x[0].upper(),words)
print(list(res))

[5, 'B', 3, 9, 'A']

In [17]:
#program using map/filer and lambda
#display only those elements with length >4
words=['Apple','Banana','Ant','Aeroplane','anger']

In [18]:
#solution


res=filter(lambda x:len(x)>4,words)
print(list(res))

['Apple', 'Banana', 'Aeroplane', 'anger']

In [ ]:
#program using map/filer and lambda
#create a list of those positive integers to whom when 3 is added gives a no less than 10

In [ ]:

res=list(filter(lambda x:x+3<10,range(10)))
print(res)

In [ ]:
result = [i for i in lst if i%2 ==0]
print(result)

In [37]:
list(filter(is_prime,range(50,100)))

[53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
num = [5,4,7,9,12,15,22,75,100,107]

In [ ]:
list(filter(isPrime,lst))

In [ ]:
#Assignment

In [2]:
# 1. Form a list by dividing every element by 2

num = [5,4,7,9,12,15,22,75,100,107]

In [4]:
print([x/2 for x in num])
list(map(lambda x:x/2,num))

[2.5, 2.0, 3.5, 4.5, 6.0, 7.5, 11.0, 37.5, 50.0, 53.5]

[2.5, 2.0, 3.5, 4.5, 6.0, 7.5, 11.0, 37.5, 50.0, 53.5]

In [ ]:
# 2. Form a list for all elements divisible by 5

In [ ]:
list(filter(lambda x: x%5==0,num))

In [ ]:
#3. Form a  a list of all elements such that dividing even 
# numbers by 2 and odd numbers by 3

In [12]:
list(map(lambda x: round(x/2,2) if x%2==0 else round(x/3,2),num))

NameError: name 'num' is not defined

In [ ]:
#4. For a list of all even numbers(only) by multiplying by itself

In [ ]:
FilteredList = list(filter(lambda x:x%2==0,num))
list(map(lambda x:x*x,FilteredList))

In [ ]:
#5. For all 3 digit number divide the numebr by 2

In [40]:
num=[12,554,2,456,23,123]
ThreeDigitNum = list(filter(lambda x: len(str(x))==3,num))
print(ThreeDigitNum)
list(map(lambda x: round(x/2,2),ThreeDigitNum))

[554, 456, 123]

[277.0, 228.0, 61.5]

# Some more examples on map and filter

In [ ]:
## Convert a list of temperatures in celsius scale to fahrenheit
temperatures = [36.5, 37, 37.5, 38, 39]
[  round(((float(9)/5)*interVar + 32),2) for interVar in temperatures ]

In [ ]:
temperatures = [36.5, 37, 37.5, 38, 39]
F = map(lambda T: round(((float(9)/5)*T + 32),2), temperatures)
print(list(F))

In [48]:
### Lambdas, map
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]
#to find x/y**2 on all the elements
bmi=map(lambda x,y:x/y**2,mass,ht)
print(list(bmi))

[16.528925619834713, 19.031141868512112, 27.055150884495315, 23.456790123456788]

In [ ]:
bmi_f=filter(lambda x:x<20,list(bmi))
print(list(bmi_f))

In [ ]:
# Filter
Cities = ['Delhi', 'Pune', 'Chennai', 'Kolkata']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda m: len(m) > 6, Cities)

print(type(result))
# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

In [27]:
words=['Apple','Banana','Ant','Aeroplane','anger',"Camel","Zebra"]
result=map(lambda i: len(i) if  i[0]=='A' else i[:1].upper(), words)
print(list(result))

[5, 'B', 3, 9, 'A', 'C', 'Z']

## Reduce function - Takes a pair of elements and returns a single element which is put back to the list

In [1]:
from functools import reduce
lst = [10,20,30,40,50]
print(reduce(lambda x, y: x+y, lst))

'''[30,30,40,50]
[60,40,50]
[100,50]
[150]'''

150

'[30,30,40,50]\n[60,40,50]\n[100,50]\n[150]'

In [5]:
from functools import reduce
reduce(lambda a,b: a if (a > b) else b, [47,11,42,42,13])

47

#### this is my notes

In [ ]:
'''
[47,11,42,102,13]
[11,42,102,13]
[11,102,13]
[11,13]
11
'''

In [ ]:
#Selection sort using reduce

In [ ]:
lst = [47,11,42,42,13]
lst1 = []
length = len(lst)
for i in range(0,length):
    small=reduce(lambda a,b: a if (a < b) else b, lst)
    small in lst
    lst1.append(small)
    #lst = list(filter(lambda a: a!= small, lst))
    lst.remove(small)
print(lst1)

In [46]:
#Reduce to multiply the elements of a list
for i in range(1,6):
    print(i)
reduce(lambda a,b : a*b, range(1,6))

1
2
3
4
5

120

In [ ]:
numList = [10,100,300,40,50,60,60,60,60,65,65,75,55,54,67]
numerator = 0
i=0
while i <15:
    numerator = numerator + (numList[i]-Mean)**2
    i = i + 1
variance = numerator/15
variance

In [ ]:
numList = [10,100,300,40,50,60,60,60,60,65,65,75,55,54,67]
count = len(numList)
Mean = (reduce(lambda a,b:a+b, numList))/count
print(Mean)

#sigma((x-mean(x))**2)/no of elements
meanSquare = list(map(lambda a: round((a-Mean)**2,2),numList))
print(meanSquare)
Variance = round((reduce(lambda a,b:a+b,meanSquare))/count,2)
print(Variance)

In [43]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
print(list(map(lambda x,y: x+y,a,b)))
print(list(map(lambda x,y,z:x+y+z, a,b,c)))
print(list(map(lambda x,y,z:x+y-z, a,b,c)))

[18, 14, 14, 14]
[17, 10, 19, 23]
[19, 18, 9, 5]

In [ ]:
print(reduce(lambda x,y:x*y,range(1,int(input())+1)))

In [26]:
a = reduce(lambda x,y: x*y, range(1,1001))
b= reduce(lambda x,y: x*y, range(1,801))
c= reduce(lambda x,y: x*y, range(1,201))
a//(b*c)

NameError: name 'reduce' is not defined